@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url(reset.css);

:root{
  --fundo: #c5c08f;
  --fundo-1: #33A1E0;
  --fundo-2: #1C6EA4;
  --fundo-3: #154D71;

  --fonte-principal: "Poppins";
  --fonte-nome: "Parisienne", cursive;
}

html, body{
  width: 100%;
}

body{
  font-family: var(--fonte-principal);
  color: var(--fundo);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4em;

  background-color: var(--fundo);
  box-sizing: border-box;

  /*display: grid;
  grid-template-areas: 
  "header header header header header"
  "aside main main main main";*/
}

header{
  /*grid-area: header;*/
  padding: 1rem;
}
aside{
  /*grid-area: aside;*/
  padding: 1rem;
}
main{
  /*grid-area: main;*/
  padding: 1rem;
}

.container{
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  margin: 0 1rem;
  gap: 1rem;
}

.card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--fundo-1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.card2{
 background-color: var(--fundo-2);
}
.card3{
  background-color: var(--fundo-3);
}

.exp-titulo1, .form-titulo1, .contato-titulo, .cursos-titulo{
  font-size: 2rem;
  font-weight: 550;
}

/*Principal*/

.principal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
}
.principal-conteudo{
  margin-left: 2rem;
}

.principal-nome{
 font-family: var(--fonte-nome);
 font-size: 3rem;
 margin:1rem 0 2rem 0;
 text-shadow : 2px 3px 2px var(--fundo-3) ;
}
.principal-situacao{
  font-size: 1.5em;
}
.principal-texto1{
  font-size: 1.3em;
}

.principal-img{
  max-width: 15vw;
  border-radius: 25px;
  margin-right: 2rem;
}

/*Experiência*/

.exp-cargo, .form-curso{
  font-size: 1.3rem;
  font-weight: 480;
  margin: 0.5rem 0;
}
.exp-titulo1{
 margin: 1rem 0;
}
.exp-titulo2, .form-titulo2{
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0.5rem 0;
}
.exp-tempo{

}
.exp-subtitulo{

}
.exp-local{

}
.exp-descricao{

}

/*Formação Acadêmica*/

.form-titulo1{
 margin: 1rem 0;
}
.form-titulo2{

}
.form-curso{

}
.form-data{

}

/*Contato*/

.contato-titulo{

}
.contato-lista{

}
.contato-item{
  display: flex;
  align-items: center;
}
.contato-icone{
  height: 1rem;
  margin-right: 0.3rem;
}

/*Cursos*/
.cursos-item{
  padding-bottom: 1em;
}
.cursos-item br + span{
  padding-left: 0.5em;
}
